:root {
  --font-color: #213547;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: var(--font-color);
}

.active {
  left: -50px;
}

li {
  list-style: none;
  text-align: start;
}

select {
  font-size: 1.5em;
}

a {
  text-decoration: inherit;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}
